# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/

# Environment
.env/
venv/
.venv/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/

# docs
docs/old/
admin/

# data
output/
data/
docs/

# Temp files
old/
temp/
junk*

# Test
.coverage
.cache
.hypothesis
.pytest_cache/
